.hero {
  &__item {
    height: 530px;
  }
}

.swiper-horizontal > .swiper-scrollbar {
  top: 0;
  width: 100%;
  left: 0;
  height: 4px;
  background: $yellow-100;
}

.swiper-scrollbar-drag {
  background: linear-gradient(270deg, #f9af31 0%, rgba(249, 175, 49, 0) 100%);
}


